@import "../../../variables.scss";

h2 {
  font-size: clamp(4rem, 5rem, 5rem);
}

.contacts-wrapper,
h2 {
  padding-inline: $spacing-inline;
}

.contacts-wrapper {
  margin-block: $margin-32;
  display: flex;
  gap: $spacing-inline;
}

.contact-text,
.contact-form {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: $margin-32;
  input,
  textarea {
    background-color: transparent;
    border: 1px solid $accent-color;
    border-radius: 8px;
    padding: $btn-padding;
    color: $primary-color;
  }
  button {
    align-self: center;
    width: max-content;
  }
}
