<h2>Contact</h2>
<section class="contacts-wrapper">
  <section class="contact-text">
    <h3>Got a Problem to solve?</h3>
    <p>
      Get in touch with me through this form. I am looking forward to hear from
      you, knowing your ideas and contributing to your projects with my skills
      that i've gained throughout my training at DA.
    </p>
    <p>
      Looking for a highly trained and well disciplined Frontend developer?
      <strong>Contact me!</strong>
    </p>
  </section>
  <section class="contact-form">
    <form action="">
      <input type="text" placeholder="Your Name" />
      <input type="text" placeholder="Your E-Mail" />
      <textarea
        name=""
        id=""
        cols="30"
        rows="6"
        placeholder="Your message"
      ></textarea>
      <button type="submit" class="btn-default">Send message :)</button>
    </form>
  </section>
</section>
