@import "../../../variables.scss";

h2 {
  position: relative;
  text-align: center;
  padding-block-start: $section-spacing;
  &::after {
    background-color: $secondary-color;
    top: calc(50% + $section-spacing/2);
  }
}

.contacts-wrapper,
h2 {
  padding-inline: $spacing-inline;
}

.contacts-wrapper {
  margin-block: $margin-32;
  display: flex;
  gap: $spacing-inline;
}

.contact-text,
.contact-form {
  flex: 1;
}

.contact-text {
  h3,
  p {
    margin-block-end: $margin-32;
  }
  h3 {
    position: relative;
    font-size: $font-size-large;
    &::before {
      background-color: $secondary-color;
      width: 7%;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: $margin-32;
  input,
  textarea {
    background-color: transparent;
    border: 1px solid $accent-color;
    border-radius: 8px;
    padding: $btn-padding;
    color: $primary-color;
    background-color: $background-normal-color;
    &:focus {
      border-color: $secondary-color;
      outline: transparent;
    }
  }
  button {
    align-self: center;
    width: max-content;
  }
}

@media screen and (max-width: 872px) {
  .contacts-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 572px) {
  h2 {
    &::after {
      width: 25%;
    }
  }
  .contacts-wrapper {
    gap: $margin-12;
  }
  .contacts-wrapper,
  h2 {
    padding-inline: $spacing-inline-mobile;
  }
  .contact-text {
    h3 {
      font-size: $font-size-medium-1;
      &::before {
        width: 3.5%;
      }
    }
    .brief-info {
      display: none;
    }
    p {
      margin-block-end: $margin-12;
    }
  }
}
