@import "../../../variables.scss";

footer {
  max-height: 200px;
  border-top: 3px solid $secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: $spacing-inline;
  position: relative;
  background-color: $background-normal-color;
  &::after {
    content: "";
    background: url("/portfolio/assets/img/blue-shadow.svg") no-repeat center center/cover;
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 600px;
    aspect-ratio: 1/1;
    z-index: -1;
  }
  a {
    display: block;
  }
  .homepage-link {
    font-size: $font-size-large;
    font-weight: bold;
  }
  ul {
    display: flex;
    gap: 32px;
    svg {
      transition: scale 150ms linear;
      &:hover {
        scale: 1.4;
      }
    }
  }
  p {
    font-size: $font-size-medium-1;
  }
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding-inline: $spacing-inline-mobile;
    padding-block-start: 32px;
    gap: 32px;
    text-align: center;
    p {
      font-size: $mobile-font-size;
    }
    .homepage-link {
      margin-block-end: $margin-12;
    }
    ul {
      margin-block-end: $margin-32;
    }
  }
}
