<nav>
  <a [routerLink]="['/']" fragment="home" class="logo">N<em>S</em></a>
  <ul [class.show-links]="showNavLinks">
    <li>
      <a [routerLink]="['/']" fragment="about-me" (click)="toggleNavLinks()"
        >About me</a
      >
    </li>
    <li>
      <a [routerLink]="['/']" fragment="my-skills" (click)="toggleNavLinks()"
        >Skills</a
      >
    </li>
    <li>
      <a [routerLink]="['/']" fragment="my-projects" (click)="toggleNavLinks()"
        >My Projects</a
      >
    </li>
    <li class="contact-link">
      <a [routerLink]="['/']" fragment="contact-me" (click)="toggleNavLinks()"
        >Contact</a
      >
    </li>
  </ul>
  <button type="button" (click)="toggleNavLinks()">
    <svg
      width="24"
      height="24"
      viewBox="0 0 32 31"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 1.5127H31"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        d="M1 15.5127H31"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        d="M1 29.5127H31"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
      />
    </svg>
  </button>
</nav>
