<nav>
  <a [routerLink]="['/']" fragment="home" class="logo" (click)="activeLink(-1)">
    N<em>S</em>
  </a>
  <ul [class.show-links]="showNavLinks" (click)="toggleNavLinks()" role="list">
    <li>
      <a
        [routerLink]="['/']"
        fragment="about-me"
        (click)="activeLink(0)"
        [ngClass]="{ active: isActive === 0 }"
        >About me</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/']"
        fragment="my-skills"
        (click)="activeLink(1)"
        [ngClass]="{ active: isActive === 1 }"
        >Skills</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/']"
        fragment="my-projects"
        (click)="activeLink(2)"
        [ngClass]="{ active: isActive === 2 }"
        >My Projects</a
      >
    </li>
    <li class="contact-link">
      <a
        [routerLink]="['/']"
        fragment="contact-me"
        (click)="activeLink(3)"
        [ngClass]="{ active: isActive === 3 }"
        #contactme
        >Contact</a
      >
    </li>
  </ul>
  <button type="button" (click)="toggleNavLinks()">
    <svg
      width="24"
      height="24"
      viewBox="0 0 32 31"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 1.5127H31"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        d="M1 15.5127H31"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        d="M1 29.5127H31"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
      />
    </svg>
  </button>
</nav>
