@import "../../../variables.scss";

.intro {
  min-height: calc(100vh - 72px);
  min-height: calc(100dvh - 72px);
  background-color: $background-dark-color;
  flex-direction: column;
  // gap: 72px;
  position: relative;
  overflow: hidden;
  gap: $margin-48;
  .external-links {
    position: absolute;
    left: 96px;
    bottom: 32px;
    display: flex;
    gap: 36px;
    z-index: 5;
    &::before {
      content: "";
      position: absolute;
      width: 45%;
      left: -96px;
      top: 50%;
      transform: translate(0, -50%);
      height: $design-line-height;
      background-color: $secondary-color;
      border-radius: $design-line-border-radius-left;
    }
    svg {
      transition: transform 125ms ease-out;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 450px;
    height: 450px;
    z-index: 1;
  }
  &::before {
    left: -120px;
    top: 20%;
    background: url("/assets/img/skyblue-shadow.svg") no-repeat 0 0;
  }
  &::after {
    right: -250px;
    bottom: 0;
    background: url("/assets/img/purple-shadow.svg") no-repeat 0 0;
  }
  .name-container {
    p {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-size: $font-size--extra-large;
      z-index: 4;
    }
  }
  h1 {
    position: relative;
    font-size: 6.5rem;
    padding-block-end: 1rem;
    &::before,
    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }
    &::before {
      background-color: $background-dark-color;
      animation: typewriter 2.5s steps(12) 500ms forwards;
    }
    &::after {
      width: 0.25rem;
      bottom: 15px;
      background-color: $primary-color;
      animation: typewriter 2.5s steps(12) 500ms forwards,
        blink 500ms forwards infinite;
    }
  }
  h2 {
    font-size: 3.5rem;
    font-weight: normal;
    opacity: 0;
    color: $accent-color;
    text-transform: uppercase;
    transform: translateY(30px);
    animation: fadeIn 325ms ease-in 3s forwards;
    position: relative;
    z-index: 4;
  }
  h1,
  h2 {
    line-height: 1;
  }
  .lets-talk-btn {
    z-index: 10;
  }
  .scroll-info {
    writing-mode: vertical-lr;
    font-size: $font-size-medium-1;
    position: absolute;
    right: $spacing-inline;
    bottom: 24px;
    z-index: 2;
  }
}

@keyframes typewriter {
  100% {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 850px) {
  .intro {
    &::before {
      left: -200px;
    }
    h1 {
      font-size: 5.5rem;
    }
    h2 {
      font-size: 3rem;
    }
    .name-container {
      p {
        font-size: 4rem;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .intro {
    gap: 48px;
    h1 {
      font-size: 4.5rem;
    }
    h2 {
      font-size: 2rem;
    }
    .name-container {
      p {
        font-size: 3.125rem;
      }
    }
    .lets-talk-btn {
      font-size: $font-size-medium-2;
    }
  }
}

@media screen and (max-width: 572px) {
  .intro {
    gap: 32px;
    &::before {
      left: -50px;
      top: 25%;
      transform: translateX(-50%);
    }
    &::after {
      right: -350px;
      bottom: 0;
    }
    h1 {
      font-size: 3.5rem;
    }
    .name-container {
      p {
        font-size: 3rem;
      }
    }
    .lets-talk-btn {
      font-size: $mobile-font-size;
    }
    .external-links {
      gap: 24px;
      left: 72px;
      &::before {
        width: 55%;
      }
    }
  }
  .scroll-info {
    display: none;
  }
}

@media screen and (max-width: 472px) {
  .intro {
    padding-inline: $spacing-inline-mobile;
    h1 {
      font-size: 3rem;
      padding-block-end: 0.5rem;
      white-space: nowrap;
    }
    h2 {
      font-size: 1.75rem;
    }
    .name-container {
      p {
        font-size: 2rem;
        line-height: 1.25;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .intro {
    padding-inline: $spacing-inline-mobile;
    h1 {
      font-size: 2.75rem;
      padding-block-end: 0.5rem;
      white-space: nowrap;
    }
    h2 {
      font-size: 1.5rem;
    }
    .name-container {
      p {
        font-size: 2rem;
        line-height: 1.25;
      }
    }
  }
}
