@import "../../../variables.scss";
$transition-time: 175ms;

.projects-wrapper {
  padding-inline: $spacing-inline;
  padding-block-start: $section-spacing;
  position: relative;
  isolation: isolate;
  overflow-x: hidden;
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 600px;
    aspect-ratio: 1/1;
    background: no-repeat center center/contain;
  }
  &::after {
    background-image: url("../../../assets/img/purple-shadow-2.svg");
    right: -250px;
    top: 0;
  }
  &::before {
    background-image: url("../../../assets/img/green-shadow.svg");
    left: -300px;
    bottom: 0;
  }
}

.projects-wrapper {
  h2 {
    position: relative;
    &::before {
      background-color: $accent-color;
    }
  }
}

.projects {
  width: 100%;
  isolation: isolate;
  margin-block-start: $section-spacing;
  figure {
    &:hover .project-desc,
    &:hover .project-btn-wrapper {
      z-index: 2;
    }
    &:hover .project-screenshot {
      transform: scale(1.8, 1.5) translateY(-24px);
    }
    &:hover .project-desc {
      background-color: #fff;
    }
    figcaption {
      position: absolute;
      inset: 0;
      flex-direction: column-reverse;
      text-align: center;
      visibility: hidden;
    }
  }
}

.project-screenshot {
  width: 80%;
  min-height: 100%;
  object-fit: contain;
  padding-inline-start: 20px;
}

.project-btn-wrapper {
  flex-basis: 65%;
}

.project-desc,
.project-btn-wrapper {
  z-index: -1;
}
.project-btn-wrapper {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-evenly;
  a {
    padding: $btn-padding;
    border-radius: $btn-border-radius;
    font-size: $font-size-medium-2;
    transition: transform $transition-time linear;
  }
  .github-link {
    background-color: transparent;
    border: 1px solid $secondary-color;
    &:hover {
      background-color: $secondary-color;
    }
  }
  .direct-link {
    background-color: $accent-color;
    &:hover {
      background-color: $secondary-color;
    }
  }
}

.project-desc {
  flex-basis: 35%;
  background-color: $primary-color;
  color: #000;
  border-radius: 18px 18px 6px 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: $spacing-inline;
  padding-block: 32px;
  h3 {
    font-size: $font-size-large;
    margin-block-end: $margin-24;
    color: $accent-color;
  }
  p {
    font-size: $font-size-medium-1;
    line-height: 1.5;
    margin-block-end: $margin-24;
  }
  .tech-info {
    color: $secondary-color;
  }
}

.project-desc,
.project-screenshot {
  transition: transform $transition-time linear;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $margin-32;
  li {
    flex-basis: 50%;
    background-color: $background-dark-color;
    border-radius: 6px;
    border: 1.75px solid $secondary-color;
    overflow: hidden;
    position: relative;
    z-index: 5;
    &:hover .fig-caption {
      background-color: rgba($color: #000000, $alpha: 0.3);
      visibility: visible;
    }
  }
}

@media screen and (max-width: 1200px) {
  .projects {
    figure {
      &:hover .project-screenshot {
        transform: scale(2, 1.8) translateY(-48px);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .projects {
    figure {
      &:hover .project-screenshot {
        transform: scale(2, 2.1) translateY(-40px);
      }
    }
  }
}

@media screen and (max-width: 872px) {
  .projects {
    li {
      min-height: 350px;
      figure {
        min-height: inherit;
        &:hover .project-screenshot {
          transform: scale(1.8, 2) translateY(-24px);
        }
      }
    }
  }
  .project-screenshot {
    width: 90%;
  }
  .project-list {
    gap: $margin-24;
  }
}

@media screen and (max-width: 700px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 572px) {
  .projects-wrapper {
    padding-inline: $spacing-inline-mobile;
  }
}
