<section class="projects-wrapper">
  <section class="projects-heading-wrapper">
    <h2>Projects</h2>
    <p>
      This page is a sample of my work! scroll down to view other projects I
      have develped.
    </p>
  </section>
  <section class="projects">
    <ul class="project-list">
      <li data-aos="fade-right" >
        <figure class="d-flex">
          <img
            src="./assets/img/el_pollo_loco.png"
            alt="El Pollo Loco Game"
            class="project-screenshot"
          />
          <figcaption class="d-flex fig-caption">
            <div class="project-desc">
              <h3>El Pollo Loco</h3>
              <p>
                Jump, run and throw game based on object-oriented approach. Help
                Pepe to find coins and tabasco salsa to fight against the crazy
                hen.
              </p>
            </div>
            <div class="project-btn-wrapper">
              <a href="" class="github-link">GitHub</a>
              <a href="" class="direct-link">Live test</a>
            </div>
          </figcaption>
        </figure>
      </li>
      <li data-aos="fade-left">
        <figure class="d-flex" >
          <img
            src="./assets/img/el_pollo_loco.png"
            alt="El Pollo Loco Game"
            class="project-screenshot"
          />
          <figcaption class="d-flex fig-caption">
            <div class="project-desc">
              <h3>El Pollo Loco</h3>
              <p>
                Jump, run and throw game based on object-oriented approach. Help
                Pepe to find coins and tabasco salsa to fight against the crazy
                hen.
              </p>
            </div>
            <div class="project-btn-wrapper">
              <a href="" class="github-link">GitHub</a>
              <a href="" class="direct-link">Live test</a>
            </div>
          </figcaption>
        </figure>
      </li>
      <li data-aos="fade-right">
        <figure class="d-flex" >
          <img
            src="./assets/img/el_pollo_loco.png"
            alt="El Pollo Loco Game"
            class="project-screenshot"
          />
          <figcaption class="d-flex fig-caption">
            <div class="project-desc">
              <h3>El Pollo Loco</h3>
              <p>
                Jump, run and throw game based on object-oriented approach. Help
                Pepe to find coins and tabasco salsa to fight against the crazy
                hen.
              </p>
            </div>
            <div class="project-btn-wrapper">
              <a href="" class="github-link">GitHub</a>
              <a href="" class="direct-link">Live test</a>
            </div>
          </figcaption>
        </figure>
      </li>
      <li data-aos="fade-left">
        <figure class="d-flex">
          <img
            src="./assets/img/el_pollo_loco.png"
            alt="El Pollo Loco Game"
            class="project-screenshot"
          />
          <figcaption class="d-flex fig-caption">
            <div class="project-desc">
              <h3>El Pollo Loco</h3>
              <p>
                Jump, run and throw game based on object-oriented approach. Help
                Pepe to find coins and tabasco salsa to fight against the crazy
                hen.
              </p>
            </div>
            <div class="project-btn-wrapper">
              <a href="" class="github-link">GitHub</a>
              <a href="" class="direct-link">Live test</a>
            </div>
          </figcaption>
        </figure>
      </li>
    </ul>
  </section>
</section>
