@import "../../../variables.scss";

.skills-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 48px;
  padding-inline: $spacing-inline;
  padding-block-start: $section-spacing;
}

.skills {
  flex-basis: 45%;
  h2 {
    position: relative;
    &::after {
      width: 50%;
      right: -60px;
      background-color: $accent-color;
    }
  }
  p {
    margin-block-end: $margin-48;
  }
  a {
    display: inline-block;
  }
}

.skills-list {
  flex-basis: 55%;
  flex-direction: column;
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-block: $margin-32;
    gap: 60px;
    li {
      flex-direction: column;
      min-width: 84px;
      text-align: center;
    }
  }
  svg {
    width: 56px;
    height: 56px;
  }
  p {
    font-weight: 500;
    margin-block-start: 8px;
  }
  a {
    display: inline-block;
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .skills {
    h2 {
      &::after {
        width: 55%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .skills-wrapper {
    gap: 32px;
  }
  .skills {
    h2 {
      &::after {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 872px) {
  .skills-wrapper {
    flex-direction: column;
  }
  .skills {
    h2 {
      text-align: center;
      &::after {
        width: 35%;
      }
    }
    p {
      text-align: left;
    }
    a {
      display: none;
    }
  }
  .skills-list {
    ul {
      li {
        svg {
          width: 48px;
          height: 48px;
        }
      }
    }
    a {
      display: block;
    }
  }
}

@media screen and (max-width: 700px) {
  .skills-list {
    a {
      font-size: $font-size-medium-2;
    }
  }
}

@media screen and (max-width: 572px) {
  .skills-wrapper {
    padding-inline: $spacing-inline-mobile;
  }
  .skills {
    h2 {
      text-align: start;
      &::after {
        width: 65%;
        right: -24px;
      }
    }
  }
  .skills-list {
    ul {
      gap: 36px;
      li {
        svg {
          width: 42px;
          height: 42px;
        }
      }
    }
    a {
      font-size: $mobile-font-size;
    }
  }
}

@media screen and (max-width: 472px) {
  .skills-list {
    ul {
      li {
        svg {
          width: 36px;
          height: 36px;
        }
      }
    }
  }
}
