@import "fonts.scss";
@import "./variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
  position: relative;
}

body {
  background-color: rgb(26, 35, 55);
  color: #fff;
  font-family: "Poppins", sans-serif;
  max-width: 2480px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 284px);
}

app-footer {
  margin-top: auto;
}

a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}

button,
input,
select,
textarea {
  border: transparent;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  min-height: 120px;
  max-height: 550px;
}

// custom scrollbar
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: $accent-color;
}
/* Track */
::-webkit-scrollbar-track {
  border: 1px solid $accent-color;
  border-top: 0;
  border-bottom: 0;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $primary-color;
  opacity: 1; /* Firefox */
}

.btn-default {
  cursor: pointer;
  background-color: $secondary-color;
  padding: $btn-padding;
  border-radius: $btn-border-radius;
  font-size: $font-size-medium-2;
  box-shadow: $btn-box-shadow;
  transition: transform 125ms linear;
  &:hover {
    transform: scale(1.1);
    background-color: $accent-color;
  }
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

app-contact,
.skills {
  h2 {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30%;
      right: 0;
      border-radius: $design-line-border-radius-right;
      height: $design-line-height;
    }
  }
}

.projects-heading-wrapper h2,
.contact-text h3 {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3%;
    border-radius: $design-line-border-radius-left;
    left: -60px;
    height: $design-line-height;
  }
}

app-contact {
  margin-block: $section-spacing;
}

@media screen and (min-width: 2480px) {
  body {
    border-left: 1px solid $accent-color;
  }
}

@media screen and (min-width: 1201px) {
  main {
    .projects-wrapper,
    .skills,
    .about-me,
    app-contact {
      h2 {
        font-size: $h2-bigger;
        margin-block-end: $margin-32;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  main {
    .projects-wrapper,
    .skills,
    .about-me,
    app-contact {
      h2 {
        font-size: $h2-medium-1;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  main {
    .projects-wrapper,
    .skills,
    .about-me,
    app-contact {
      h2 {
        font-size: $h2-medium-2;
      }
    }
  }
  .projects-heading-wrapper,
  app-contact {
    h2 {
      &::before {
        width: 5%;
      }
    }
  }
}

@media screen and (max-width: 872px) {
  main {
    .projects-wrapper,
    .skills,
    .about-me,
    app-contact {
      h2 {
        font-size: $h2-medium-2;
      }
    }
  }
}

@media screen and (max-width: 572px) {
  main {
    .projects-wrapper,
    .skills,
    .about-me,
    app-contact {
      h2 {
        font-size: $h2-mobile;
        margin-block-end: $margin-12;
      }
    }
  }
  .projects-heading-wrapper h2,
  .contact-text h3 {
    &::before {
      left: -24px;
      width: 3.5%;
    }
  }
}
