@import "./fonts.scss";
@import "./variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(26, 35, 55);
  color: #fff;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}

button,
input,
select,
textarea {
  border: transparent;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 1rem;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $primary-color;
  opacity: 1; /* Firefox */
}

.btn-default {
  cursor: pointer;
  background-color: $secondary-color;
  padding: $btn-padding;
  border-radius: $btn-border-radius;
  font-size: $font-size-medium-2;
  box-shadow: $btn-box-shadow;
  transition: transform 125ms linear;
  &:hover {
    transform: scale(1.1);
    background-color: $accent-color;
  }
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  // overflow: hidden;
}

@media screen and (min-width: 1201px) {
  main {
    .projects-wrapper,
    .skills,
    .about-me {
      h2 {
        font-size: $h2-bigger;
        margin-block-end: $margin-32;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  main {
    .projects-wrapper,
    .skills,
    .about-me {
      h2 {
        // font-size: $h2-medium-1;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  main {
    .projects-wrapper,
    .skills,
    .about-me {
      h2 {
        // font-size: $h2-medium-2;
      }
    }
  }
}

@media screen and (max-width: 872px) {
  main {
    .projects-wrapper,
    .skills,
    .about-me {
      h2 {
        font-size: $h2-medium-2;
      }
    }
  }
}

@media screen and (max-width: 572px) {
  main {
    .projects-wrapper,
    .skills,
    .about-me {
      h2 {
        font-size: $h2-mobile;
        margin-block-end: $margin-12;
      }
    }
  }
}
