$background-dark-color: rgb(20, 29, 47);
$background-dark-color-90: rgba(20, 29, 47, 0.9);
$background-normal-color: #1a2337;
$primary-color: #fff;
$secondary-color: #00bee8;
$accent-color: #4b47ff;
$spacing-inline: 60px;
$spacing-inline-mobile: 24px;
$margin-32: 32px;
$margin-24: 24px;
$margin-12: 12px;
$h2-bigger: 5rem;
$h2-medium-1: 4.5rem;
$h2-medium-2: 4rem;
$h2-mobile: 3rem;
$btn-padding: 0.75rem 1rem;
$btn-border-radius: 10px;
$btn-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
$font-size--extra-large: 5rem;
$font-size-large: 2rem;
$font-size-medium-1: 1.5rem;
$font-size-medium-2: 1.125rem;
$mobile-font-size: 1rem;
$section-spacing: 84px;
$nav-height: 84px;
$design-line-height: 4px;
$design-line-border-radius-left: 0 8px 8px 0;
$design-line-border-radius-right: 8px 0 0 8px;
